.env
DAY3_SOL/TASK_C/__pycache__/local_lib.cpython-310.pyc
DAY3_SOL/TASK_A/__pycache__/local_lib.cpython-310.pyc
DAY3_SOL/TASK_B/__pycache__/rag_lib.cpython-310.pyc
**/debug.log
01*/*
02*/*
03*/*
04*/*
05*/*