OPENAI_API_TYPE = "azure"
AZURE_OPENAI_API_KEY = ""
AZURE_OPENAI_ENDPOINT = "https://XXX.openai.azure.com/"
OPENAI_API_VERSION = "2024-02-01"
AZURE_OPENAI_COMPLETION_MODEL = "gpt-35-turbo"
AZURE_OPENAI_COMPLETION_DEPLOYMENT_NAME = "gpt-35-turbo"

AZURE_OPENAI_EMBEDDING_MODEL="text-embedding-3-large"
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="text-embedding-3-large"
OPENAI_EMBEDDING_API_VERSION="2024-02-01"


AZURE_SEARCH_INDEX="XXX_index"
AZURE_SEARCH_SERVICE_ENDPOINT="https://XXX.search.windows.net"
AZURE_SEARCH_ADMIN_KEY=""

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT="https://XXX.cognitiveservices.azure.com/"
AZURE_DOCUMENT_INTELLIGENCE_ADMIN_KEY=""

AZURE_OPENAI_MODEL_GPT35 = "gpt-35-turbo"
AZURE_OPENAI_MODEL_GPT4="gpt-4"
AZURE_OPENAI_MODEL_GPT4T="gpt-4-turbo"